.tooltip {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}

#img-container {
    width: 140px;
}

#legend {
    width: 230px;
    height: 70px;
}

.zoom {
    cursor:move;
    fill: none;
    pointer-events: all;
}

.area {
    fill: none;
    clip-path: url(#clip);
}

#plot svg {
    height: 550px;
}

label {
    font-size: 20px;
}

