.tooltip {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}

.header-img {
    height: 150px;
    width: 10px;
}

#legend {
    width: 230px;
    height: 70px;
}

.zoom {
    cursor:move;
    fill: none;
    pointer-events: all;
}

